.patient-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  > app-patient-card {
    display: flex;
  }
}

.paginator {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 20px;

  .pagination-button {
    background-color: #03a9f4;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;

    i {
      font-size: 14px;
    }

    &:hover:not(:disabled) {
      background-color: #0288d1;
    }

    &:disabled {
      background-color: #c0c0c0;
      cursor: not-allowed;
    }
  }
}