.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  background: white;
  border-radius: 8px;
  padding: 20px 30px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(184, 179, 179, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h3 {
    margin: 0;
    color: #4589d3;
  }

  .close-btn {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .form-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    input, select {
      flex: 1 1 0;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .form-actions {
    display: flex;
    flex-direction: column;
    
   p {
      margin-bottom: 40px;
    }

    button {
      padding: 10px 20px;
      background-color: #4589d3;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 4px;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
        color: #666;
      }
    }

    .note {
      font-size: 12px;
      margin-top: 5px;
      color: gray;
    }
  }
}


